{% extends "index.html" %}

{% block content %}
    <div class="jumbotron text-center" style="padding-top: 5%">
        <h1><span class="element"></span></h1><span class="typed-cursor"></span>
        <i><h4>- Zato što trebaš zabilježiti sve što možeš</h4></i>
        <br>
        <br>
        <h3>Trenutno, {{ session['user_count'] }} korisnika registrirano</h3>
    </div>

    <div class="container" id="about">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center slideanim">
                <h2 class="section-heading"></h2>
                <hr style="max-width:50px;border-top: 2px solid #2E3134;"><br>
            </div><!-- ./column -->
        </div><!-- ./row -->
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Jednostavna za korištenje</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        Piši,briši aplikacija za jednostavno održavanje bilješki
                    </p>
                </h4>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Ostani organiziran</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        Sa jednostavnim traženjem i pregledom možeš biti organiziraniji
                    </p>
                </h4>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Markdown Podrška</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        Sa markdown podrškom je lakše pisati bilješke sa ukrašenim tekstom
                    </p>
                </h4>
            </div>
        </div> <!-- ./row -->
    </div> <!-- ./cotainer -->
{% endblock %}
